apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
        - name: django
          image: mayurpandit25/notes-app:latest
          ports:
            - containerPort: 8000
          env:
            - name: DB_NAME
              value: test_db
            - name: DB_USER
              value: root
            - name: DB_PASSWORD
              value: root
            - name: DB_HOST
              value: mysql
            - name: DB_PORT
              value: "3306"
          command:
            - sh
            - -c
            - |
              python manage.py migrate --noinput &&
              gunicorn notesapp.wsgi:application --bind 0.0.0.0:8000
